			
		/* Large devices (desktops, 992px and up) */
		@media (min-width: 1025px) {

			body {
				font-family: "Avenir", "Sans Serif";
				font-size: 1vw;
				margin: 0;
			}

			h1{
				color : rgb(129,112,145);
				font-size : 2vw;
				font-weight: bold;
				text-align: center;
				margin-bottom: 3%;
			}

			h2{
				color : rgb(241,151,163);
				font-weight: bold;
			}

			.h2, h2 {
				font-size: 1.5vw;
			}

			p {
				color : rgb(129,112,145);
			}

			form {
				font-size : 3vw;
				font-weight: bold;
				font-family : "Avenir";
				color : white;
			}

			i {
				color : rgb(129,112,145);
			}

			a img:hover {
				padding: 0.1vw;
				border-style: solid;
				border-width: 0.25vw;
				border-radius: 20vw;
				border-color: rgb(241,151,163);
				scroll-behavior: smooth;
			}

			.skills {
				width : 70%;
				margin : auto;
			}

			#aboutme {
				height: 100vh;
			}

			#workandedu {
				font-size : 35px;
			}

			#workandedu h2 {
				font-size: 1vw;
				font-weight: bold;
				color: white;
			}

			#workandedu h1 {
				color: white;
			}

			#workandedu p {
				font-size : 0.7vw;
				color: white;
			}

			.homepage {
				position : absolute;
				top : 0px;
				}

			.contactme {
				position:fixed;
    			top:5%;
    			right: 5%;
    			min-width: 2vw;
    			width : 20%;
    			z-index: 10;
				}

			.categorie1 {
				position: fixed;
				top:28.6%;
    			right: 8%;
    			z-index: 10;
    			font-weight: bold;
    			font-size : 1.5vw;
    			color : white;
    			-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(129,112,145);
			}

			.boutonsidebar1 {
				position : fixed;
				width : 1%;
				top:30%;
    			right: 5%;
    			z-index: 10;
			}

			.categorie2 {
				position: fixed;
				top:38.6%;
    			right: 8%;
    			z-index: 10;
    			font-weight: bold;
    			font-size : 1.5vw;
    			color : white;
    			-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(129,112,145);
			}

			.boutonsidebar2 {
				position : fixed;
				width : 1%;
				top:40%;
    			right: 5%;
    			z-index: 10;
			}

			.categorie3 {
				position: fixed;
				top:48.6%;
    			right: 8%;
    			z-index: 10;
    			font-weight: bold;
    			font-size : 1.5vw;
    			color : white;
    			-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(129,112,145);
			}

			.boutonsidebar3 {
				position : fixed;
				width : 1%;
				top:50%;
    			right: 5%;
    			z-index: 10;
			}

			.categorie4 {
				position: fixed;
				top:58.6%;
    			right: 8%;
    			z-index: 10;
    			font-weight: bold;
    			font-size : 1.5vw;
    			color : white;
    			-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(129,112,145);
			}

			.boutonsidebar4 {
				position : fixed;
				width : 1%;
				top:60%;
    			right: 5%;
    			z-index: 10;
			}

			.categorie5 {
				position: fixed;
				top:68.6%;
    			right: 8%;
    			z-index: 10;
    			font-weight: bold;
    			font-size : 1.5vw;
    			color : white;
    			-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(129,112,145);
			}

			.boutonsidebar5 {
				position : fixed;
				width : 1%;
				top:70%;
    			right: 5%;
    			z-index: 10;
			}

			#profile-picture {
				width : 75%;
				padding: 5%;
			}

			.logo {
				width : 42%;
				padding-right: 5%;
				padding-left: 5%;
			}

			.thirdscreen {
				background-image : url("../img/Wallpaper3.jpg");
				background-repeat: no-repeat center center fixed;
				-webkit-background-size : cover;
				-moz-background-size : cover;
				-o-background-size : cover;
				background-size : cover;
			}

			.fifthscreen {
				background-image : url("../img/Wallpaper5.jpg");
				background-repeat: no-repeat center center fixed;
				-webkit-background-size : cover;
				-moz-background-size : cover;
				-o-background-size : cover;
				background-size : cover;
			}
			
			.center {
    		margin: auto;
    		width: 60%;
			}

			.center2 {
    		margin: auto;
    		width: 80%;
			}

			.text-right {
				padding: 5%;
			}

			.date {
				background-color : rgb(241,151,163);
				border-radius : 3vw;
				font-weight: bold;
				color : white;
				padding : 1vw;
			}

			.planet {
				padding : auto;
				width : 80%;
				-webkit-transition: -webkit-transform .8s ease-in-out;
          		transition:         transform .8s ease-in-out;
			}

			.planet:hover {
				-webkit-transform: rotate(360deg);
          		transform: rotate(360deg);
			}

			.planet2 {
				padding : auto;
				width : 45%;
				-webkit-transition: -webkit-transform .8s ease-in-out;
          		transition:         transform .8s ease-in-out;
			}

			.planet2:hover {
				-webkit-transform: rotate(360deg);
          		transform: rotate(360deg);
			}

			.realisationpicture {
				padding : auto;
				width : 35%;
			}

			.realisationpicture:hover {
				animation: shake 0.5s;
				animation-iteration-count: infinite;
			}

			.realisationpicture {
				margin : auto;
				width : 30%;
			}

			.lightbutton:hover {
				border : 1vw solid rgb(241,151,163); 
			}

			.paddingpage {
				padding: 3%;
				height: 100vh;
			}

			#emailHelp {
				font-size: 1vw;
			}

			.arrow {
				position : fixed;
				width: 100%;
				left : 48%;
				right: 48%;
				bottom : 4%;
				z-index: 10;
			}

			.bounce {
			-webkit-animation-name: bounce;
			-moz-animation-name: bounce;
			-o-animation-name: bounce;
			animation-name: bounce;
			}

			.animated{-webkit-animation-fill-mode:both;
			-moz-animation-fill-mode:both;
			-ms-animation-fill-mode:both;
			-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       		-moz-animation-iteration-count: infinite;
    		-webkit-animation-iteration-count: infinite;

			animation-fill-mode:both;
			-webkit-animation-duration:2s;
			-moz-animation-duration:2s;
			-ms-animation-duration:2s;
			-o-animation-duration:2s;
			animation-duration:2s;
			}


			@-webkit-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-1.1vw);}
			60% {-webkit-transform: translateY(-0.55vw);}
			}

			@-moz-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
			40% {-moz-transform: translateY(-1.1vw);}
			60% {-moz-transform: translateY(-0.55vw);}
			}

			@-o-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
			40% {-o-transform: translateY(-1.1vw);}
			60% {-o-transform: translateY(-0.55vw);}
			}	
			@keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-1.1vw);}
			60% {transform: translateY(-0.55vw);}
			}

			@keyframes shake {
    		0% { transform: translate(0.04vw, 0.04vw) rotate(0deg); }
    		10% { transform: translate(-0.04vw, -0.08vw) rotate(-1deg); }
    		20% { transform: translate(-0.12vw, 0vw) rotate(1deg); }
    		30% { transform: translate(0.12vw, 0.08vw) rotate(0deg); }
    		40% { transform: translate(0.04vw, -0.04vw) rotate(1deg); }
    		50% { transform: translate(-0.04vw, 0.08vw) rotate(-1deg); }
    		60% { transform: translate(-0.12vw, 0.04vw) rotate(0deg); }
    		70% { transform: translate(0.12vw, 0.04vw) rotate(-1deg); }
    		80% { transform: translate(-0.04vw, -0.04vw) rotate(1deg); }
    		90% { transform: translate(0.04vw, 0.08vw) rotate(0deg); }
    		100% { transform: translate(0.04vw, -0.08vw) rotate(-1deg); }
			}

		}