			
			/* Medium devices (tablets, 768px and up) */
			@media (max-width: 1024px) {

			html {
				width: 100%;
			}

			body {
				font-family: "Avenir", "Sans Serif";
				font-size: 2vw;
				width: 100%;
				margin: 0;
			}

			h1{
				color : rgb(129,112,145);
				font-size : 6vw;
				font-weight: bold;
				text-align: center;
				margin-bottom: 3%;
			}

			h2{
				color : rgb(241,151,163);
				font-weight: bold;
			}

			.h2, h2 {
				font-size: 3vw;
			}

			p {
				color : rgb(129,112,145);
			}

			form {
				font-size : 6vw;
				font-weight: bold;
				font-family : "Avenir";
				color : white;
			}

			i {
				color : rgb(129,112,145);
			}

			a img:hover {
				padding: 0.1vw;
				border-style: solid;
				border-width: 0.25vw;
				border-radius: 20vw;
				border-color: rgb(241,151,163);
				scroll-behavior: smooth;
			}

			.skills {
				width : 70%;
				margin : auto;
			}

			#workandedu h2 {
				font-size: 2vw;
				font-weight: bold;
				color: white;
			}

			#workandedu h1 {
				color: white;
			}

			#workandedu p {
				font-size : 1.5vw;
				color: white;
			}

			#aboutme {
				width: 100vw;
			}

			.contactme {
				position:fixed;
    			top:5%;
    			right: 30%;
    			min-width: 2vw;
    			width : 40%;
    			z-index: 10;
				}

			.paddingpage {
				padding: 3%;
			}

			.categorie1 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.boutonsidebar1 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.categorie2 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.boutonsidebar2 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.categorie3 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.boutonsidebar3 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.categorie4 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.boutonsidebar4 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.categorie5 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			.boutonsidebar5 {
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
			}

			#group3 {
    		background: url("../img/WallpaperHomePage2.jpg") no-repeat center bottom; /* slide over group 2 and 4 */
    		background-size: cover;
  			}

  			#group4 {
    		background: url("../img/Wallpaper3.jpg") no-repeat center bottom; /* slide over group 2 and 4 */
    		background-repeat: no-repeat center center fixed;
			-webkit-background-size : cover;
			-moz-background-size : cover;
			-o-background-size : cover;
			background-size : cover;
  			}

  			.row .interests {
  				display: flex;
  				flex-direction: row;
  				flex-wrap: wrap;
  			}

  			.firstcollum {
  				order : 1;
  			}

  			.secondcollum {
  				order : 2;
  			}

  			.thirdcollum {
  				order : 3;
  			}

			#profile-picture {
				width : 75%;
				padding: 5%;
			}

			.logo {
				width : 22%;
				padding: 3% 0;
			}

			.thirdscreen {
				background-image : url("../img/Wallpaper3.jpg");
				background-repeat: no-repeat center center fixed;
				-webkit-background-size : cover;
				-moz-background-size : cover;
				-o-background-size : cover;
				background-size : cover;
			}

			.fifthscreen {
				background-image : url("../img/Wallpaper5.jpg");
				background-repeat: no-repeat center center fixed;
				-webkit-background-size : cover;
				-moz-background-size : cover;
				-o-background-size : cover;
				background-size : cover;
			}
			
			.center {
    		margin: auto;
    		width: 80%;
			}

			.center2 {
    		margin: auto;
    		width: 80%;
			}

			.text-right {
				padding: 5%;
			}

			.date {
				background-color : rgb(241,151,163);
				border-radius : 3vw;
				font-weight: bold;
				color : white;
				padding : 1vw;
			}

			.planet {
				padding : auto;
				width : 0%;
				-webkit-transition: -webkit-transform .8s ease-in-out;
          		transition:         transform .8s ease-in-out;
			}

			.planet:hover {
				-webkit-transform: rotate(360deg);
          		transform: rotate(360deg);
			}

			.planet2 {
				padding : auto;
				width : 0%;
				-webkit-transition: -webkit-transform .8s ease-in-out;
          		transition:         transform .8s ease-in-out;
			}

			.planet2:hover {
				-webkit-transform: rotate(360deg);
          		transform: rotate(360deg);
			}

			.realisationpicture {
				padding : auto;
				width : 35%;
			}

			.realisationpicture:hover {
				animation: shake 0.5s;
				animation-iteration-count: infinite;
			}

			.realisationpicture {
				margin : auto;
				width : 30%;
			}

			.lightbutton:hover {
				border : 1vw solid rgb(241,151,163); 
			}

			#emailHelp {
				font-size: 1vw;
			}

			.arrow {
				width: 0%;
				left : 48%;
				right: 48%;
				bottom : 4%;
				z-index: 10;
			}

			.bounce {
			-webkit-animation-name: bounce;
			-moz-animation-name: bounce;
			-o-animation-name: bounce;
			animation-name: bounce;
			}

			.animated{-webkit-animation-fill-mode:both;
			-moz-animation-fill-mode:both;
			-ms-animation-fill-mode:both;
			-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       		-moz-animation-iteration-count: infinite;
    		-webkit-animation-iteration-count: infinite;

			animation-fill-mode:both;
			-webkit-animation-duration:2s;
			-moz-animation-duration:2s;
			-ms-animation-duration:2s;
			-o-animation-duration:2s;
			animation-duration:2s;
			}

			.parallax {
    		height: 100vh;
    		z-index: 1;
  			}

  			.parallax__group1 {
    		position: relative;
    		height: 100vh;
  			}

  			.parallax__group2 {
    		position: relative;
    		padding-bottom: 20%;
  			}

  			.parallax__layer {
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
  			}

  			.parallax__layer--fore {
  			width: 100vw;
    		z-index: 1;
  			}

  			.parallax__layer--fore2 {
    		z-index: 2;
  			}

  			.title {
    		position: absolute;
    		width: 100%;
    		margin-top: 40%;
   			}